<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Language Sparkling - Japanese</title>
  </head>
  <body>
    <div class="container is-widescreen">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <svg
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="107.000000pt"
              height="109.000000pt"
              viewBox="0 0 107.000000 109.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <g
                transform="translate(0.000000,109.000000) scale(0.100000,-0.100000)"
                fill="#000000"
                stroke="none"
              >
                <path
                  d="M420 1069 c-107 -21 -223 -113 -275 -218 -121 -241 23 -526 293 -582 64 -13 151 -5 216 20 41 16 28 23 -20 10 -59 -17 -174 -5 -239 25 -77 35 -149 106 -188 185 -30 61 -32 73 -32 166 0 88 3 107 27 157 59 126 187 218 316 226 41 3 59 8 51 13 -17 11 -89 10 -149 -2z"
                ></path>
                <path
                  d="M475 991 c-91 -25 -170 -92 -205 -173 -32 -74 -26 -195 13 -260 57 -98 150 -152 262 -152 86 0 149 27 214 94 l44 45 -187 3 c-144 2 -187 5 -183 15 17 43 181 403 187 410 4 4 44 -83 90 -195 46 -112 87 -207 91 -212 14 -16 42 104 36 160 -11 105 -81 205 -172 245 -50 22 -146 32 -190 20z"
                ></path>
                <path
                  d="M106 881 c-155 -210 -137 -499 41 -689 108 -115 239 -172 394 -172 199 0 363 94 471 270 24 40 58 138 58 168 0 21 -6 14 -24 -31 -84 -203 -267 -327 -486 -327 -188 0 -366 112 -450 284 -77 155 -77 311 0 464 22 42 37 78 36 80 -2 2 -20 -19 -40 -47z"
                ></path>
                <path
                  d="M538 728 l-65 -143 120 -3 c66 -1 122 0 125 2 4 4 -107 286 -113 286 -1 0 -31 -64 -67 -142z"
                ></path>
              </g>
            </svg> Sparkling - Japanese
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasic"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasic" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item"> Home </a>

            <a class="navbar-item"> Documentation </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light"> Log in </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <slot />
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            Language Sparkling - Japanese, built with
            <strong>Bulma</strong>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
